/* ==========================================================================
   Base
   ========================================================================== */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after, input[type="search"] {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  color: $base-font-color;
  font-size: 1rem;
  line-height: 1.5;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  min-width: $row-min-width;
}


/* Links
   ========================================================================== */

a {
  cursor: pointer;
  color: $link-color;
  text-decoration: none;
  transition: opacity 0.24s ease 0s;
}

a:visited {
  color: $link-color;
}

a:hover {
  opacity: 0.64;
  outline: none;
}

a:active {
  outline: none;
  transform: translate(0, 1px);
}


/* Rows
   ========================================================================== */

.row {
  @extend .clearfix;
  padding-left: $global-spacing;
  padding-right: $global-spacing;
  @include media(small-up) {
    padding-left: $global-spacing * 2;
    padding-right: $global-spacing * 2;
  }
  @include media(xlarge-up) {
    padding-left: $global-spacing * 4;
    padding-right: $global-spacing * 4;
  }
}

.row--centered {
  max-width: $row-max-width;
  margin-left: auto;
  margin-right: auto;
}


/* ==========================================================================
   Structure
   ========================================================================== */

.site-canvas {
  background: tint($base-color, 96%);
}


/* Header
   ========================================================================== */

.site-header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: $secondary-color;
  color: $base-font-color;
  padding: $global-spacing 0;
/*  box-shadow: inset 0 -1px 0 0 rgba($base-color, 0.12);*/
  > .inner {
    @extend .row, .row--centered;
  }
  @include media(medium-up) {
    padding: ($global-spacing * 2) 0;
  }
}

/* Headline */

.page-title {
  @extend .visually-hidden;
}

.site-headline {
  @include col(12/12);
  @include media(medium-up) {
    @include col(4/12);
  }
}

.site-title {
  float: left;
  margin: 0;
  line-height: 1;
  font-size: 100%;
  a {
    display: block;
    content: url('../graphics/layout/EvidenceAction_DSWLogo.png');
    width: 8rem;
  }
  * {
    vertical-align: top;
    display: inline-block;
  }
  img {
    width: auto;
    height: 1rem;
  }
  span {
    @extend .visually-hidden;
  }
}

/* Navigation */

.site-prime-nav {
  @include col(12/12);

  &.show-menu {
    margin-top: 1rem;
  }
  @include media(medium-up) {
    @include col(8/12);
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }

  .toggle-menu {
    position: absolute;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    top: 1rem;
    right: $global-spacing;
    z-index: 1;

    a {
      span {
        @extend .visually-hidden;
      }
      &:before {
        @extend .collecticons-hamburger-menu;
      }
    }


    @include media(small-up) {
      right: $global-spacing * 2;
    }
    @include media(medium-up) {
      display: none;
    }
  }
}

.menu-wrapper {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.16s ease 0s, max-height 0.16s ease 0s, visibility 0.16s linear 0s;
  @include media(medium-up) {
    display: block;
    overflow: auto;
    visibility: visible;
    opacity: 1;
    max-height: 600rem;
    text-align: right;
  }
  .show-menu & {
    display: block;
    overflow: auto;
    visibility: visible;
    opacity: 1;
    max-height: 600rem;
  }
}

.global-menu {
  @extend .clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
  @include media(medium-up) {
    display: inline-block;
    > li {
      float: left;
      margin: 0 ($global-spacing / 2) 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.global-menu-item {
  display: block;
  line-height: 2rem;
  padding: 0 $global-spacing;
  font-family: $display-font-family;
  &, &:visited {
    color: $base-font-color;
  }
  &--active {
    border-bottom: solid 2px $highlight-color;
  }
}


/* Body
   ========================================================================== */

.col--full {
  margin-bottom: $section-spacing;

  .section-description {
    @include col(12/12);
    margin-bottom: $section-spacing/2;

    @include media(medium-up) {
    @include col(9/12);
    margin-bottom: $section-spacing/2;
    }
  }
}

.page__header {
  padding-top: 2rem;
  @include media(medium-up){
  padding-top: 6rem;
  }
  background-color: $secondary-color;
  > .inner {
    @extend .row, .row--centered;
  }
}

.site-body {
  @extend .clearfix;
}

.page__content {
  padding: ($section-spacing/4) 0;

  @include media(medium-up) {
    padding: $section-spacing;
  }

  
  > .inner {
    @extend .row, .row--centered;
  }

  .col--main {
    @include col(12/12);

    @include media(medium-up) {
      @include col(4/12);
    }
  }
  .col--sec {
    @include col(12/12);

    @include media(medium-up) {
      @include col(8/12);
    }
  }
}

/* Sections */
.section--access {
  .infographic {
    margin-top: 0.5rem;
    height: 10rem;
    @include media(medium-up) {
      margin-top: 2.25rem;
      height: 20rem;
      position: relative;
    }
  }

  .chart-title {
    float: left;
  }

  .key {
    @include media(medium-up){
      position: absolute;
      right: 0;
      top: 8px;
    }
  }
  
  .col--main {
    @include col(12/12);
    padding-bottom: $global-spacing;
    @include media(medium-up) {
      @include col(6/12);
    }
  }
  .col--sec {
    @include col(12/12);
    @include media(medium-up) {
      @include col(6/12);
    } 
  }

  .map-wrapper {
    position: relative;
    height: 10rem;
    @include media(medium-up) {
      position: relative;
      height: 20rem;
    }
    .map-container {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  }
}

.section--stats {
  background-color: $secondary-color;
  background-image: url('../graphics/layout/dispensers.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;

  .section__title {
    @extend .visually-hidden;
  }

  .stats {
    &__entry {
      @include col(6/12,$gutter: 0);
      text-align: center;
      @include media(medium-up) {
        @include col(3/12);
        text-align: center;
      }
    }
    &__title {
      small {
        display: block;
      }
    }
  }
}

// VV Temporary colorscol--full
.section--usage {
  background: tint($secondary-color, 60%);
    @include media(medium-up) {
    .inner {
      @include display(flex);
      @include align-items(center);
    }
  }
}

.section--reliability {
 .stacked-charts {
  float: left;
  }
  .col--main {
    @include col(12/12);
    @include media(medium-up) {
      @include col(4/12);
    }
  }
  .col--sec {
    @include col(12/12);
    @include media(medium-up) {
      @include col(8/12);
    } 
  }
}

.section--carbon {
  background: tint($secondary-color, 60%);
  @include media(medium-up) {
    .inner {
      @include display(flex);
      @include align-items(center);
    }
  }
}


/* Footer
   ========================================================================== */

.site-footer {
  background: $secondary-color;
  text-align: center;
  color: rgba($base-font-color, 0.64);
  font-family: $display-font-family;
  border-top: 1px solid tint($base-color, 80%);

  .footer-detail {
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style: none;
    @include col(12/12);
     p { 
      margin-bottom: 0;
     }

     a {
      color: rgba($base-font-color, 0.80);
      text-decoration: underline;
     }

    li{
      padding: $section-spacing/4;
      float: left;
      font-family: $body-font-family;
      color: rgba($base-font-color, 0.80);
      background: transparent;
      margin-bottom: 0;
    }
  }

    > .inner {
      @extend .row, .row--centered;
      background-image: url('../graphics/layout/dispenser_footer.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 75%;
      background-color: $secondary-color;
    }

  .footer-nav {
    width: 100%;
    margin: 0;
    @include col(12/12);

    li {
      list-style: none;

      a {
        @include media(medium-up) {
          @include col(4/12, $gutter: 0);
          padding: $section-spacing/2;
          font-size: 1.5rem;
          border-width: 0px 1px 1px 1px;
          border-style: solid;
          border-color: darken($secondary-color, 5%);
        }

        @include col(12/12, $gutter: 0);
          font-size: 1.25rem;
          padding: $section-spacing/8;
          background: transparent;
          border-width: 0px 1px 1px 1px;
          border-style: solid;
          border-color: darken($secondary-color, 5%);

        &:hover{
          background: rgba($highlight-color, .1);
        };
      }
    }
  }
}
