/* Footer
   ========================================================================== */
svg.chart {
  // Avoids that the chart grows because of the gap left by inline elements.
  display: block;
}

//
// NOTE: All the styles below are temporary
//

// .section--access
.area-chart-wrapper {
  min-height: 20rem;

  .axis {
    .tick text {
      font-size: 0.875rem;
    }
  }

  .area {
    &:nth-child(1) {
      fill: rgba($primary-color, 0.9);
    }
    &:nth-child(2) {
      fill: rgba($primary-color, 0.7);
    }
    &:nth-child(3) {
      fill: rgba($primary-color, 0.5);
    }
  }

  .area-line {
    fill: none;
    stroke: $secondary-color;
  }

  .focus-line {
    fill: none;
    stroke: green;
    stroke-width: 2px;
  }
}

// .section--reliability
.reliability-chart-wrapper {
  min-height: 20rem;
  .x.axis {
  }

  .y.axis {
    .axis-line {
      stroke: red;
    }
  }

  .grid-elements {
    .mid-line {
      stroke: red;
    }
    .avg-line {
      stroke: grey;
      stroke-dasharray: 5 5;
    }
    .date-line {
      stroke: grey;
    }
  }
}











.my-div-icon {
  // background: red;
  // width: 0.5rem;
  // height: 0.5rem;
  border-radius: 60rem;
  transition: background 0.25s ease 0s;
}
.my-div-icon.active {
  // background: blue;
  // width: 1rem;
  // height: 1rem;
}

.my-div-icon .cont {
  opacity: 0.5;
  background: red;
  border-radius: 60rem;
  width: 100%;
  height: 100%;
}

.my-div-icon.active .cont {
  background: blue;
  animation: pulse 0.25s ease-in 0s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}