/* Rc.Slider overrides
   Original styles: /node_modules/rc-slider/assets/index.css
   ========================================================================== */

.ui-access-wrapper {
  display: flex;
  @include col(12/12);
  background-color: tint($secondary-color, 70%);
  border-radius: $global-spacing/2;
  margin-bottom: 1rem;
}

.slider-animation-button {
    //@extend .button, .button--text-hidden;
    border: none;
    background: none;
    line-height: 4.25rem;
    border-radius: $global-spacing/4;
    color: $base-color;
    font-size: 2rem;
    transition: opacity 0.24s ease 0s;
    height: 100%;
    margin-left: $global-spacing;
    padding: 0;

    > * {
      @extend .visually-hidden;
    }

    &.play:before { @extend .collecticons-circle-play; }
    &.stop:before { @extend .collecticons-circle-stop; }

    &:hover {
      opacity: 0.64;
    }

    &:active {
      transform: translate(0, 1px);
    }
  }

.rc-slider-handle {
	background-color: $primary-color;
	border: none;
}

.rc-slider-track {
	background-color: $primary-color;
}

.rc-slider-dot-active {
  border: none;
  background-color: $primary-color;
}

/* Rc.Slider custom styles
   ========================================================================== */

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 2rem;
}