/* Rc.Slider overrides
   Original styles: /node_modules/rc-slider/assets/index.css
   ========================================================================== */

.rc-slider {
  margin: 2rem 0;
}

.rc-slider-handle {
	background-color: $primary-color;
	border: none;
}

.rc-slider-track {
	background-color: $primary-color;
}

.rc-slider-dot-active {
  border: none;
  background-color: $primary-color;
}

/* Rc.Slider custom styles
   ========================================================================== */

.slider-wrapper {
  padding: 2.5rem;
  overflow: hidden;
}